<div>
  <div>
    <section>
      Generate 
      <input 
        type="number" 
        allowNumbersUpto [upto]="5"
        [(ngModel)]="cardCount" 
        (input)="onCardMetricsEvent()"
      >
      random bingo cards
    </section>
    <section>
      each with
      <input 
        type="number" 
        allowNumbersUpto [upto]="5"
        [(ngModel)]="cardDimension" 
        (input)="onCardMetricsEvent()"
      >
        rows/columns
    </section>
    <section>
      <button 
        type="button" 
        class="btn btn-primary"
        [disabled]="!canGenerateCards"
        (click)="onCardGenerateClick()"
      >
        Generate
      </button>
    </section>
  </div>
</div>


